{% extends "base.html" %}
<!-- load static -->
{% load static %}
<!-- about title -->
{% block title %} | 團契小組 {% endblock %}
<!-- about main content -->
{% block content %}
<div class="container mt-4 mb-5">
  <h3>團契小組</h3>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">團契小組聚會</h4>
        <h6 class="card-subtitle text-muted">card subtitle</h6>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
        <a href="#" class="btn btn-outline-primary">Read More</a>

        <!-- Columns are always 50% wide, on mobile and desktop -->
        <div class="row">
          <div class="col-4">
            <h5>聚會/小組名稱</h5>
          </div>
          <div class="col-3">
            <h5>日期</h5>
          </div>
          <div class="col-3">
            <h5>時間</h5>
          </div>
          <div class="col-2">
            <h5>地點</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-4">路得組</div>
          <div class="col-3">隔星期三</div>
          <div class="col-3">9:15-11:00 am</div>
          <div class="col-2">810</div>
        </div>
        <div class="row">
          <div class="col-4">長者福音班</div>
          <div class="col-3">星期四</div>
          <div class="col-3">2:30-3:30 pm</div>
          <div class="col-2">810</div>
        </div>
        <div class="row">
          <div class="col-4">職青團</div>
          <div class="col-3">隔星期六</div>
          <div class="col-3">8:30-10:00 pm</div>
          <div class="col-2">zoom</div>
        </div>
        <div class="row">
          <div class="col-4">小天使團契</div>
          <div class="col-3">星期六</div>
          <div class="col-3">2:30-4:00 pm</div>
          <div class="col-2">禮堂</div>
        </div>
        <div class="row">
          <div class="col-4">主日崇拜</div>
          <div class="col-3">主日</div>
          <div class="col-3">9:30-11:00 am</div>
          <div class="col-2">禮堂</div>
        </div>
        <div class="row">
          <div class="col-4">主日兒童崇拜</div>
          <div class="col-3">主日</div>
          <div class="col-3">9:30-11:00 am</div>
          <div class="col-2">4號課室</div>
        </div>
        <div class="row">
          <div class="col-4">成年組</div>
          <div class="col-3">主日</div>
          <div class="col-3">11:00-12:30 pm</div>
          <div class="col-2">禮堂</div>
        </div>
        <div class="row">
          <div class="col-4">信仰查經班</div>
          <div class="col-3">主日</div>
          <div class="col-3">11:00-12:30 pm</div>
          <div class="col-2">2號課室</div>
        </div>
        <div class="row">
          <div class="col-4">青少年組</div>
          <div class="col-3">主日</div>
          <div class="col-3">11:00-12:30 pm</div>
          <div class="col-2">810</div>
        </div>
        <div class="row">
          <div class="col-4">兒童組</div>
          <div class="col-3">主日</div>
          <div class="col-3">11:00-12:30 pm</div>
          <div class="col-2">4號課室</div>
        </div>
        <div class="row">
          <div class="col-4">教會祈禱會</div>
          <div class="col-3">每月第一主日</div>
          <div class="col-3">11:00-11:30 pm</div>
          <div class="col-2">禮堂</div>
        </div>
        <div class="row">
          <div class="col-4">祈禱網絡</div>
          <div class="col-3">每週一次</div>
          <div class="col-3">自訂</div>
          <div class="col-2">小組式</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
