{% extends "base.html" %}
<!-- load static -->
{% load static %}
<!-- about title -->
{% block title %} | 認識我們  {% endblock %}
<!-- about main content -->
{% block content %}
{% include "includes/_topbar.html" with title="我們的團隊" subtitle="同工團隊" %}

<div class="container mt-4 mb-5">
    <!--card columns-->
    <div class="card-columns">
        <div class="card">
            <img src="https://scontent-hkg1-2.xx.fbcdn.net/v/t39.30808-6/464647346_8287128048079753_1763144742916178116_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=nomfFrmpKR8Q7kNvwGk1s9S&_nc_oc=Adlk7DNwA_X-OtgXGOlphu7OE1VmaJIlieuhIPszNPmBvGLCn_vyXi-S9I3yAGL2ZV4&_nc_zt=23&_nc_ht=scontent-hkg1-2.xx&_nc_gid=MYPoBuTm0rae-A8SiI5bqQ&oh=00_Afq7GsowDp7NPTDQKQrmtMOC5WpadqPEtxYsPYO5BBCdEQ&oe=696E58CB" alt="" class="card-img-top" />
          <div class="card-body">
            <h4 class="card-title">顧問牧師</h4>
            <h5 class="card-subtitle text-muted">余金蘭牧師</h5>
          </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/50/50" alt="" class="card-img-top" />
            <div class="card-body">
            <h4 class="card-title">堂主任</h4>
            <h5 class="card-subtitle text-muted">梁桂華傳道</h5>
            </div>
        </div>
        <div class="card">
            <img src="https://picsum.photos/50/50" alt="" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title">半職傳道</h4>
              <h5 class="card-subtitle text-muted">李玉明傳道</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}